<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<!--<add key="connection_string" value="Initial Catalog=voting;Integrated Security=SSPI;Data Source=MAAU-90C1B61346\SQLEXPRESS;user id=;password=;pooling=false;Trusted_Connection=true"/>-->
		<add key="connection_string" value="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=App_Date/voting.mdb"/>
		<add key="admin_email" value="admin@projectideas.co.in"/>
		<add key="smtp_server" value="smtp.projectideas.co.in"/>
		<add key="smtp_username" value="admin@projectideas.co.in"/>
		<add key="smtp_password" value="project999"/>
		<add key="candidate_image" value="images/candidates_image/"/>
	</appSettings>
	<connectionStrings/>
	<!--	<system.web>
		     
		<compilation debug="true" strict="false" explicit="true"/>
		<pages>
			<namespaces>
				<clear/>
				<add namespace="System"/>
				<add namespace="System.Collections"/>
				<add namespace="System.Collections.Specialized"/>
				<add namespace="System.Configuration"/>
				<add namespace="System.Text"/>
				<add namespace="System.Text.RegularExpressions"/>
				<add namespace="System.Web"/>
				<add namespace="System.Web.Caching"/>
				<add namespace="System.Web.SessionState"/>
				<add namespace="System.Web.Security"/>
				<add namespace="System.Web.Profile"/>
				<add namespace="System.Web.UI"/>
				<add namespace="System.Web.UI.WebControls"/>
				<add namespace="System.Web.UI.WebControls.WebParts"/>
				<add namespace="System.Web.UI.HtmlControls"/>
			</namespaces>
		</pages>-->
	<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
       
		<authentication mode="Windows"/> 
	</system.web>-->
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web></configuration>
